.container
  nav
    .nav-wrapper.teal.lighten-3
      a.brand-logo[href="#!"]
        | Shirupedia
      a.sidenav-trigger[href="#" data-target="mobile-demo"]
        i.material-icons
          | menu
      ul.right.hide-on-med-and-down
        li
          a[href="badges.html"]
            | Chats
        li
          a[href="collapsible.html"]
            | Profile
        li
          a[href="mobile.html"]
            | Setting
  ul#mobile-demo.sidenav
    li
      a[href="badges.html"]
        | Chats
    li
      a[href="collapsible.html"]
        | Profile
    li
      a[href="mobile.html"]
        | Setting

  .row
    - @questions.each do |q|
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .card.sticky-action
          .card-image.waves-effect.waves-block.waves-light[style='max-height: 250px;']
            img.activator[src="#{q.file.url}"]
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              h6
                | #{q.title}
              i.material-icons.right
                | more_vert

            - q.field_list.each do |field|
              .badge.teal.lighten-3
                = field
              | &nbsp;
          .card-action
            a[href="#"]
              | 詳細
            a[href="#"]
              | 回答する
            a[href="#"]
              | 回答受付
          .card-reveal
            a.waves-effect.waves-light
              img.img-circle[src="#{q.user.profile.avatar.thumb}" style="width:48px; height:48px; margin-right:10px;"]
            span.card-title.grey-text.text-darken-4
              i.material-icons.right
                | close
            h6
              | #{q.title}
            p
              | #{q.content}

javascript:
 $(document).ready(function(){ $('.sidenav').sidenav(); });
