.cms-cover style="background-image: url('https://res.cloudinary.com/hnj7qqu7w/image/upload/v1539445716/helloquence.jpg')"
  .cms-cover__content
    h4 Shirupediaが学生の知を創造する
    p 本サービスは来年4月頃から東工大で運用が開始されます
