.titech-info{
  align-items: flex-end;
  height: 480px;
  justify-content: flex-start;
  padding: 40px 30px 40px;
  &__content{
    margin: auto;
    max-width: 1160px;
    width: 100%;
    h5, p{
      color: #263238;
    }
    .twitter-icon{
      display: inline-block;
      width: 100px;
      a {
        color: #00aced;
      }
    }
    .facebook-icon{
      display: inline-block;
      width: 100px;
      a {
        color: #305097;
      }
    }
  }
}
.brand-logo{
  @media screen and (min-width:993px){
    margin-left: 40px;
  }
}
.material-icons {
  color: rgb(255,255,255);
  align-self: center;
 }
.carousel-item {
  align-items: center;
  justify-content: center;
}
.carousel {
  min-height: 450px;
}
.iconImg {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}
.sampleImg {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.text br {
  display: none;
}

@media only screen and (max-width: 500px) {
  .text br {
    display: inline;
  }
}
