meta content="#{@ogp.title}" property="og:title"
meta content="#{@ogp.description}" name="description"
meta content="#{@ogp.description}" property="og:description"
meta content="Shirupedia" property="og:site_name"
meta content="#{request.original_url}" property="og:url"
meta content="https://res.cloudinary.com/hnj7qqu7w/image/upload/v1544865660/fllxwb65ayzecqrfup2p.png" property="og:image"
meta content="website" property="og:type"
meta name="twitter:card" content="summary"
meta name="twitter:title" content="#{@ogp.title}"
meta name="twitter:site" content="@shirupedia"
meta name="twitter:player" content="@shirupedia"
meta name="twitter:image" content="https://res.cloudinary.com/hnj7qqu7w/image/upload/v1544865660/fllxwb65ayzecqrfup2p.png"
